<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/site-style.css">
  </head>

  <body>
    <div id="content" style="float: left;max-width: 75%;">
      <p id="content-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum, dolor in scelerisque condimentum, felis dolor vulputate libero, in tempor erat sem quis sem. Mauris in libero mauris. Sed tincidunt turpis quis neque vestibulum maximus. Donec sit amet mi ac justo bibendum egestas a vel tellus. Fusce congue, nisl non feugiat dignissim, eros lorem tincidunt velit, id ultricies est velit ultrices urna. Pellentesque rhoncus commodo ultrices. Maecenas feugiat tellus quis turpis vehicula, ac molestie lorem aliquam. Cras malesuada magna dui, quis venenatis tortor consectetur non. Fusce mollis lobortis nulla, in consequat neque efficitur quis.

        Aliquam erat volutpat. Donec rhoncus metus urna, eget tincidunt justo congue fermentum. Phasellus pellentesque leo quis velit hendrerit, quis cursus purus euismod. Vestibulum elit purus, fermentum a pretium sodales, auctor nec nulla. Vestibulum consequat vitae mi vitae laoreet. Nunc interdum maximus malesuada. Sed tempus dictum ex at posuere.

        Donec euismod tristique mi, eu interdum orci pretium sed. Proin eget faucibus lorem. Etiam tristique, ante sed euismod lobortis, enim ligula luctus augue, id gravida mi augue in lectus. Sed erat turpis, imperdiet at convallis eget, porttitor vel odio. Pellentesque at vestibulum purus. Aenean vitae nulla ut tortor posuere pretium. Donec magna tortor, varius sed scelerisque eu, vestibulum eget leo. Suspendisse faucibus mi sit amet nisl placerat mollis.

        Curabitur dignissim metus at rutrum ornare. Maecenas non odio elementum, egestas tortor eget, fringilla ipsum. Nam cursus feugiat pulvinar. Suspendisse eu libero id tortor commodo tristique eu nec ante. Duis ac diam id eros iaculis finibus ac ac orci. Curabitur interdum neque justo, eget fringilla elit viverra non. Donec vestibulum aliquam quam quis rutrum. Nulla et laoreet nisl. Vestibulum posuere velit nunc, quis convallis augue tristique ut. Fusce vel justo eget velit tincidunt tincidunt eu at neque.

        Morbi vitae facilisis nisi. Donec consequat justo a imperdiet sodales. Etiam tortor orci, sodales in purus imperdiet, tristique scelerisque tellus. Aenean tempus ex ut tortor aliquam vulputate. Cras sit amet eros leo. Nulla neque nulla, tempus at dapibus et, condimentum ut mi. Donec sodales magna id purus egestas feugiat. Pellentesque in cursus metus, finibus sagittis dolor.
      </p>
    </div>

    <div class="side-ad" style="float: right;max-width: 25%;">
      <p class="side-ad-content">
      </p>
    </div>


  <footer>
    <script src="http://localhost:5050/api/v1/fun_ads.js?words=brandonsturgeon"></script>

  </footer>
</html
